* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    width: 100%;
    height: 210px;
    font-family: 'Chelsea Market', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ABDEEE;
    box-shadow: inset 0 9px 9px -5px rgba(0, 0, 0, 0.3);
    position: relative;
}

h1 {
    font-size: 40px;
    margin: 5px;
    cursor: pointer; 
}

h2 {
    font-size: 16px;
    cursor: pointer; 
}

h3 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    font-size: 40px;
    color: #ABDEEE;
    text-align: center;
    margin-bottom: 30px;
}

h5 {
    font-size: 22px;
    color: #ABDEEE;
    text-align: center;
    margin-bottom: 30px;

}

nav {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 39px;
    background-color: #F7F7F7;
    color: black;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav p {
    cursor: pointer;
}

nav p:hover {
    color: #607D82;

}

.icon {
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 50px;
}

.icon img {
    margin: 2px;
}

#logo {
    
    width: 57px;
    height: 57px;
    background-image: url(../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5px;   
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 10px;
}

.line {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-width {
    width: 50%;
}

.banner {
    font-family: 'Chelsea Market', cursive;
    width: 100%;
    height: 80vh;
    background-image: var(--image-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;      
}

.banner p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 15px;
}

.section {
    font-family: 'Chelsea Market', cursive;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section > p {
    font-family: 'Roboto', sans-serif;
    color: #666565;
    font-size: 15px;
    text-align: center;
    margin-bottom: 70px;
}

.menus {
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: space-around;
}

.column p {
    font-family: 'Roboto', sans-serif;
    color: #666565;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.column button {
    width: 139px;
    height: 35px;
    font-size: 15px;
    background-color: #8fd3e8;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all .5s;
    margin-top: 30px;
}

.column button:hover {
    background-color: #607D82;
}

.chat {
    font-family: 'Chelsea Market', cursive;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    background-color: rgb(197, 232, 244);
    color: rgb(72, 106, 116);
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 3px 0 hsl(0deg 1% 71% / 50%);
    min-width: 200px;
    width: 340px;
    height: 56px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;      
}

.images {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    width: 100%;
    height: 20vh;
}

.flex div {
    width: calc(100vw / 6);
    height: auto;
}

footer {
    width: 100%;
    height: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8FD3E8;
    color: #fff;
    font-size: 15px;
}

.contact {
    width: 60%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right {
    text-align: end;
}









